<ul class="pagination">
    <li class="outOfRange"><a class="prev" href="/controller/?offset=24">back</a></li>
    <li class="pipeDivider outOfRange"> | </li>
    <li><a class="more" href="/controller/?offset=34">more</a></li>
</ul>