<ul class="pagination">
    <li class="outOfRange"><a id="previousUpdates" href="/${controller}/?offset=${prevOffset}">back</a></li>
    <li class="pipeDivider outOfRange"> | </li>
    <li><a id="moreUpdates" href="/${controller}/?offset=${nextOffset}">more</a></li>
</ul>