<ul class="pagination">
    <li class="outOfRange"><a id="previousUpdates" href="/announcements/?offset=${prevOffset}">back</a></li>
    <li class="pipeDivider outOfRange"> | </li>
    <li><a id="moreUpdates" href="/announcements/?offset=${nextOffset}">more</a></li>
</ul>