<div id="enhancementVersion">
    <span id="detectVersion">Detect</span> or
    <span id="explainChooseVersion">switch to version</span>
    <ul id="versions">
        <li id="basicVersion">basic</li>
        <li id="{{>alternateEnhancement}}Version" class="icon-{{>alternateCommonName}}">
            {{>alternateEnhancementText}}
        </li>
    </ul>
</div>